<template name="Qpapers">
  <body id="body-qpapers">
    <div id="qpapers">

      <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">
         <div>
            <a class="back-btn" href="/qpcards" style="color:white;">
              <button class="ui circular olive icon button">
                <i class="big arrow left icon"></i>
              </button>
            </a>
          </div>
          <div>
          <h1 class="ui center aligned header" style="color:white; margin-top: 10px;">
              <div class="content">Take it off!</div>
            </h1>
          </div>
          <div >
            <a class="home-btn" href="/home_selection" style="color:white;">
              <button class="ui circular orange icon button">
                <i class="big home icon"></i>
              </button>
            </a>
          </div>
        </div>

        <div class="qp_img">
          {{{qp_png}}}
        </div>

    </div><br>
    <p style="font-family:JosefinSans;float:right;font-size:10px;">
      from CSE techies @ Methodist College of Engg & Tech, Abids, Hyd.
    </p>

  </body>
</template>
