<template name="FirstYear">

  <body id="body-yearone">

  <div id="year1">

    <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">
      <a href="selections_engg" style="color:white;margin-top:6px;">
        <button class="ui circular olive large icon button">
          <i class="large arrow left icon"></i>
        </button>
      </a>

      <h1 class="ui center aligned header" style="color:white;margin-top:10px;padding-left:5%">
            <div class="content">Select Subject</div>
          </h1>
        </div>



      <!-- <a href="/selections" style="color:white;float:right;">
        <button class="ui huge circular orange icon button">
          <i class="large home icon"></i>
        </button>
      </a> -->


  <center class="subjs-btns">

    <a href="first_qpcards" class="eng">
      <div class="ui big secondary button" style="background:#29b6f6;">
         English
      </div>
    </a>
    <br><br>


    <a href="first_qpcards" class="m1">
      <div class="ui big secondary button" style="background:#29b6f6;">
        Mathematics-I
      </div>
    </a>
    <br><br>


    <a href="first_qpcards" class="m2">
      <div class="ui big secondary button" style="background:#29b6f6;">
          Mathematics-II
      </div>
    </a>
    <br><br>


    <a href="first_qpcards" class="phy">
        <div class="ui big secondary button" style="background:#29b6f6;">
            Engineering Physics
        </div>
    </a>
    <br><br>


   <a href="first_qpcards" class="chem">
      <div class="ui big secondary button" style="background:#29b6f6;">
        Engineering Chemistry
      </div>
    </a><br><br>



  <a href="first_qpcards" class="c">
        <div class="ui big secondary button" style="background:#29b6f6;">
          C & C++
        </div>
  </a><br><br>


  <a href="first_qpcards" class="mech">
      <div class="ui big secondary button" style="background:#29b6f6;">
          Engineering Mechanics
      </div>
  </a>
  <br><br>

  <a href="first_qpcards" class="draw">
      <div class="ui big secondary button" style="background:#29b6f6;">
          Engineering Graphics
      </div>
  </a>
  <br><br>


   </center>

  </div>

  </body>

</template>
