<template name="SelectionsComp">

<body id="body_selections_comp">

  <div id="selections_comp" >

    <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">
      <a href="/home_selection" style="color:white;margin-top:6px;">
        <button class="ui circular olive large icon button">
          <i class="large arrow left icon"></i>
        </button>
      </a>

      <h1 class="ui center aligned header" style="color:white;margin-top:10px;padding-left:5%">
            <div class="content"></div>
          </h1>
        </div>
    <br>
    <center>

      <a href="gate">
        <div class="ui big secondary button" style="background:#29b6f6;">
          GATE <i class="right arrow icon"></i>
        </div>
      </a>

      <br><br>

      <a href="">
        <div class="ui big secondary button" style="background:#29b6f6;">
          CAT <i class="right arrow icon"></i>
        </div>
      </a>

    </center>
  </div>
</body>
</template>
