<template name="Home">

<body id="body-home">

  <div id="home">

    <div class="ui inverted fixed menu navbar page grid" style="background: white;height:60px;">

      <!-- <a  href="credits" style="color:white;margin-top:6px;margin-left:1%;">
        <button class="ui circular yellow large icon button" style="color: #29b6f6;">
          <i class="large idea icon"></i>
         </button>
      </a> -->

      <!-- <h1 class="ui aligned header" style="color:white;margin-top:10px;padding-left:5%">
            <div class="content">
              Welcome Guys!
            </div>
          </h1> -->


        </div>

      <h1 class="ui center aligned header">
          <img class="ui image" style="height: 100px; padding-bottom:15px; width: 140px;" src="/img/qstns.png"/><br>

          <div class="content" style="font-size: 40px;">
              Questions<br/>
              <div style="font-size: 12px;font-weight:bold;float:right;">(For Engineering Students)</div>
          </div>
      </h1><br>

      <center>
        <a href="home_selection">
          <div class="ui big secondary button" style="background:#29b6f6;">
            Go! <i class="right arrow icon"></i>
          </div>
        </a>
      </center>

      <br><br>

      <center>
        <h3 class="ui header inz">OK , wt to do nw ?!</h3><br>
      </center>

      <div class="sub header" >1.Click Go&nbsp;<i class="large orange pointing up icon"></i></div>
      <div class="sub header" >2.Select Engineering/Competitive&nbsp;<i class="large orange keyboard icon"></i></div>
      <br>
      <p style="font-family: BubblegumSans;float:right;font-size:9px;padding-right:10%;">
        &nbsp;&nbsp;&nbsp;from CSE techies @ Methodist College of Engg & Tech, Abids, Hyd.
      </p>
    </div>

</body>

</template>
