<template name="gate">

  <body id="body-gate">

  <div id="gate">

    <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">
      <a href="selections_comp" style="color:white;margin-top:6px;">
        <button class="ui circular olive large icon button">
          <i class="large arrow left icon"></i>
        </button>
      </a>

      <h1 class="ui center aligned header" style="color:white;margin-top:10px;padding-left:5%">
            <div class="content">Select Subject</div>
          </h1>
        </div>

  <center>

    <h1>Please refer the following website links:</h1>
    <br><br><br>

      <a href="http://www.gate.iisc.ernet.in/?page_id=340">
        <div class="ui big secondary button" style="background:#29b6f6;">
          2015 <i class="right arrow icon"></i>
        </div>
      </a>
      <br><br>
      <a href="http://www.gate.iisc.ernet.in/?page_id=340">
        <div class="ui big secondary button" style="background:#29b6f6;">
          2014 <i class="right arrow icon"></i>
        </div>
      </a>
      <br><br>
      <a href="http://www.gate.iisc.ernet.in/?page_id=340">
        <div class="ui big secondary button" style="background:#29b6f6;">
          2013 <i class="right arrow icon"></i>
        </div>
      </a>

   </center>

  </div>

  </body>

</template>
