<template name="Credits">

  <body id="body-credits">

    <div id="credits">
    <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">

      <a href="/" style="color:white;margin-top:6px;">
        <button class="ui circular olive large icon button">
          <i class="large arrow left icon"></i>
        </button>
      </a>

      <h1 class="ui center aligned header" style="color:white;margin-top:10px;padding-left:8%">
            <div class="content">
              Credits !
            </div>
          </h1>
    </div>


    <h2 class="ui header" >
    <i class="orange paint brush icon"></i>
    <div class="content">
      Designed By :
    </div>
  </h2>
  <center> <h6 class="ui header" style="font-size:16px;padding-right:3%;font-family:JosefinSans;">B.Shashank Kumar</h6></center>
  <br>
  <h1 class="ui header">
    <i class="orange configure icon"></i>
    <div class="content">
      Developed By :
    </div>
  </h1>
  <center><h6 class="ui header" style="font-size:16px;padding-right:3%;font-family:JosefinSans;">K.Manasa</h6></center>
<br>

<h2 class="ui header" >
<i class="orange line chart icon"></i>
<div class="content">
  Supported By :
</div>
</h2>
<h6 class="ui header" style="font-size:18px;padding-left:20%;font-family:JosefinSans;">K.Lavanya<div style="font-size:11px;padding-left:20%;font-family:JosefinSans;">(H.O.D Of CSE Dept.)</div></h6>

<br>
<h2 class="ui header">
  <i class="blue university icon"></i>
  <div class="content">
    College
  </div>
</h2>
<center>
<h6 class="ui header" style="font-size:22px;padding-right:3%;font-family:JosefinSans;"> Methodist College Of Engineering</h6>
</center>
</div>
</body>
</template>
