<template name="HomeSelection">

<body id="body_home_selection">

  <div id="home_selection">

    <div class="ui inverted fixed menu navbar page grid" style="background:#29b6f6;height:60px;">
      <a href="/" style="color:white;margin-top:6px;">
        <button class="ui circular olive large icon button">
          <i class="large arrow left icon"></i>
        </button>
      </a>
      <h1 class="ui aligned header" style="color:white;margin-top:10px;padding-left:5%">
            <div class="content">
              Select one
            </div>
      </h1>

        </div>

      <center>
        <a href="selections_engg">
          <div class="ui big secondary button" style="background:#29b6f6;">
            Engineering (B.E.) <i class="right arrow icon"></i>
          </div>
        </a>
      </center>

      <br>
      <center><div class="ui horizontal divider" style="width:50%">or</div></center>
      <br>

      <center>
        <a href="selections_comp">
          <div class="ui big secondary button" style="background:#29b6f6;">
            Competitive Exams <i class="right arrow icon"></i>
          </div>
        </a>
      </center>
<br/><br/>
      <p style="font-family:JosefinSans;float:right;font-size:9px;padding-right:10%;">
        &nbsp;&nbsp;&nbsp;from CSE techies @ Methodist College of Engg & Tech, Abids, Hyd.
      </p>
    </div>

</body>

</template>
